<ion-header>

  <ion-navbar>
    <ion-title>JOB SAFETY ANALYSIS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list>
      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>DATE</ion-label>
        <ion-datetime
        type="date"
        name="currentDate"
        pickerFormat="MM/DD/YYYY"
        displayFormat="MM/DD/YYYY"
        [(ngModel)]="currentDate"></ion-datetime>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>PROJECT</ion-label>
        <ion-select
          #projectName
          ngModel
          name="project"
          interface="action-sheet">
          <ion-option (ionSelect)="projectSelect(project.ProjectName,i)" [value]={ID:project.ID,Name:project.ProjectName} *ngFor="let project of projectArray; let i = index" >{{project.ProjectName}}</ion-option>
        </ion-select>
      </ion-item>
<!------------------------------------------------------------------------->

<div *ngIf="projectSelected">

      <ion-item  class="location">
      <ion-chip>
          <p>Grab nearest locations</p>
          <button ion-button type="button" [disabled]="selectedClosestLoc" clear color="primary" (click)="grabLocation()">
              <ion-icon class="locIcon" name="navigate"></ion-icon>
          </button>
       </ion-chip>
       <ion-chip>
           <p>Reset</p>
           <button ion-button type="button" [disabled]="!selectedClosestLoc" clear color="primary" (click)="resetLocation()">
               <ion-icon class="locIcon" name="refresh"></ion-icon>
           </button>
       </ion-chip>
    </ion-item>

    <ion-item class="formField ionField"  *ngIf="!selectedClosestLoc">
      <ion-label color="primary" stacked >PROJECT LOCATION</ion-label>
        <select-searchable
          item-content
          [(ngModel)]="selectedArray['Location']"
          [items]="locationsArray"
          title="Location"
          itemValueField=ID
          itemTextField=Location
          name="Location"
          [canSearch]="true"
          [canClear]="true"
          (onChange)="searchableChange($event)">
        </select-searchable>
      </ion-item>

      <ion-item class="formField ionField" *ngIf="selectedClosestLoc">
      <!-- data thrown into dropdown from API -->
      <ion-label stacked>NEAREST PROJECT LOCATION</ion-label>
        <select-searchable
         item-content
         ngModel
         title="updatedLocation"
         itemValueField=ID
         itemTextField=Location
         name="updatedLocation"
         [items]="updatedLocation"
         [canSearch]="true"
         [canClear]="true"
         [focusSearchbar]="true"
         (onChange)="searchableChange($event)">
       </select-searchable>
    </ion-item>

    <ion-item class="formField ionField">
      <ion-label color="primary" stacked>AFE/ORDER NUMBER</ion-label>
      <ion-select
        [(ngModel)]="selectedArray['AFE_Number']"
        name="orderNumber"
        #orderNumber="ngModel">
        <ion-option value="newAFE">*CREATE NEW AFE</ion-option>
        <ion-option value="{{afe.Name}}" *ngFor="let afe of afeArray; let i = index">{{afe.Name}}</ion-option>
      </ion-select>
    </ion-item>
    <!-- When user types new AFE, but decides to click back
          on a current AFE the value is not submitted -->
    <ion-item class="formField ionField" *ngIf="selectedArray['AFE_Number'] == 'newAFE'">
        <ion-label color="primary" stacked>NEW AFE</ion-label>
        <ion-label class="warningLabel" *ngIf="orderNumber.touched" text-wrap>Note: You will need to sync app in settings for New AFE to apply!</ion-label>
        <ion-input type="text" ngModel name="orderNumber" #orderNumber="ngModel" text-wrap></ion-input>
    </ion-item>


      <ion-item class="formField ionField">
        <ion-label color="primary" stacked >COMPANY MAN</ion-label>
        <ion-input [(ngModel)]="selectedArray['Company_Man']" name="companyMan">
        </ion-input>
      </ion-item>

</div>
<div *ngIf="!projectSelected">

        <ion-item  class="location">
        <ion-chip>
            <p>Grab nearest locations</p>
            <button ion-button type="button" [disabled]="selectedClosestLoc" clear color="primary" (click)="grabLocation()">
                <ion-icon class="locIcon" name="navigate"></ion-icon>
            </button>
         </ion-chip>
         <ion-chip>
             <p>Reset</p>
             <button ion-button type="button" [disabled]="!selectedClosestLoc" clear color="primary" (click)="resetLocation()">
                 <ion-icon class="locIcon" name="refresh"></ion-icon>
             </button>
         </ion-chip>
      </ion-item>

      <ion-item class="formField ionField" *ngIf="!selectedClosestLoc">
        <ion-label color="primary" stacked >PROJECT LOCATION</ion-label>
        <select-searchable
        item-content
        [(ngModel)]="location"
        [items]="locationsArray"
        title="Location"
        itemValueField=ID
        itemTextField=Location
        name="Location"
        [canSearch]="true"
        [canClear]="true"
        (onChange)="searchableChange($event)">
      </select-searchable>
      </ion-item>

      <ion-item class="formField ionField" *ngIf="selectedClosestLoc">
      <!-- data thrown into dropdown from API -->
      <ion-label stacked>NEAREST PROJECT LOCATION</ion-label>
        <select-searchable
         item-content
         ngModel
         title="updatedLocation"
         itemValueField=ID
         itemTextField=Location
         name="updatedLocation"
         [items]="updatedLocation"
         [canSearch]="true"
         [canClear]="true"
         [focusSearchbar]="true"
         (onChange)="searchableChange($event)">
       </select-searchable>
    </ion-item>

    <ion-item class="formField ionField">
      <ion-label color="primary" stacked>AFE/ORDER NUMBER</ion-label>
      <ion-select
        [(ngModel)]="orderNumber"
        name="orderNumber"
        interface="action-sheet">
        <ion-option value=newAFE style="font-weight:bold;text-align:center;">*CREATE NEW AFE*</ion-option>
        <ion-option value={{afe.Name}} *ngFor="let afe of afeArray" selected="afe.Name == '1'">{{afe.Name}}</ion-option>
      </ion-select>
    </ion-item>
  <!-- When user types new AFE, but decides to click back
      on a current AFE the value is not submitted -->
    <ion-item class="formField ionField" *ngIf="orderNumber == 'newAFE'">
      <ion-label color="primary" stacked>NEW AFE</ion-label>
      <ion-label class="warningLabel"*ngIf="orderNumber.touched" text-wrap>Note: You will need to sync app in settings for New AFE to apply!</ion-label>
      <ion-input type="text" ngModel name="orderNumber" #orderNumber="ngModel" placeholder="" text-wrap></ion-input>
    </ion-item>


      <ion-item class="formField ionField">
        <ion-label color="primary" stacked >COMPANY MAN</ion-label>
        <ion-input ngModel name="companyMan">
        </ion-input>
      </ion-item>
</div>

      <!-- autofilled by API  based on user login-->
      <ion-item class="formField ionField">
        <ion-label stacked>FOREMAN</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="foreman"
          name="foreman"
          value="{{this.foreman}}"
          [disabled]="personnelArray"></ion-input>
      </ion-item>



      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>TIME</ion-label>
        <ion-datetime
        type="date"
        name="time"
        displayFormat="H:mm"
        pickerFormat="H:mm"
        ngModel>
        </ion-datetime>
      </ion-item>


      <ion-item class="selectBox">
        <ion-label>HAZARDS</ion-label>
          <ion-select ngModel name="hazards" multiple="true">
            <ion-option>Heat Stress</ion-option>
            <ion-option>Heavy Lifting</ion-option>
            <ion-option>Electricity</ion-option>
            <ion-option>Heavy Traffic</ion-option>
            <ion-option>Road Hazards</ion-option>
            <ion-option>Biological</ion-option>
            <ion-option>Sharp Objects</ion-option>
            <ion-option>Noise</ion-option>
            <ion-option>Weather</ion-option>
            <ion-option>Pinch Points</ion-option>
            <ion-option>Pressures</ion-option>
            <ion-option>Slip/Trip Fall</ion-option>
            <ion-option>Weather</ion-option>
            <ion-option>Hot/Cold Surface</ion-option>
          </ion-select>
      </ion-item>

      <ion-item class="selectBox">
        <ion-label>WIND DIRECTION</ion-label>
          <ion-select ngModel name="windDirection" interface="action-sheet">
            <ion-option>N</ion-option>
            <ion-option>NE</ion-option>
            <ion-option>E</ion-option>
            <ion-option>SE</ion-option>
            <ion-option>S</ion-option>
            <ion-option>SW</ion-option>
            <ion-option>W</ion-option>
            <ion-option>NW</ion-option>
          </ion-select>
      </ion-item>

      <ion-item class="selectBox">
        <ion-label>WIND SOCK</ion-label>
          <ion-select ngModel name="windSock" interface="action-sheet">
            <ion-option>Yes</ion-option>
            <ion-option>No</ion-option>
          </ion-select>
      </ion-item>

      <ion-item class="selectBox">
        <ion-label>FIRE EXTINGUSHER</ion-label>
          <ion-select ngModel name="fireExtinguisher" interface="action-sheet">
            <ion-option>Yes</ion-option>
            <ion-option>No</ion-option>
          </ion-select>
      </ion-item>

      <ion-item class="selectBox">
        <ion-label>ALARM</ion-label>
          <ion-select ngModel name="alarm" interface="action-sheet">
            <ion-option>Yes</ion-option>
            <ion-option>No</ion-option>
          </ion-select>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>NEAREST MEDICAL FACILITY</ion-label>
        <ion-input
        type="input"
        name="medicalFacility"
        ngModel></ion-input>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>EMERGENCY RESPONSE</ion-label>
        <ion-input
        type="input"
        name="emergencyResponse"
        ngModel></ion-input>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>IMMEDIATE SUPERVISOR</ion-label>
        <ion-input
        type="input"
        name="immediateSupervisor"
        ngModel></ion-input>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>CUSTOMER REP</ion-label>
        <ion-input
        type="input"
        name="customerRep"
        ngModel></ion-input>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>JOB/TASK DESCRIPTION</ion-label>
        <ion-textarea
        type="textarea"
        name="jobDescription"
        ngModel></ion-textarea>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>DISCUSSION</ion-label>
        <ion-textarea
        type="textarea"
        name="description"
        ngModel></ion-textarea>
      </ion-item>


      <ion-item class="selectBox">
        <ion-label>PPE REQUIRED FOR TASK</ion-label>
          <ion-select ngModel name="ppe" multiple="true">
            <ion-option>Gloves</ion-option>
            <ion-option>Glasses/Goggles/Face-Shield</ion-option>
            <ion-option>Hard Hat</ion-option>
            <ion-option>Hearing Protection</ion-option>
            <ion-option>FR Attire</ion-option>
            <ion-option>Steel Toe Boots</ion-option>
            <ion-option>Fall Protection</ion-option>
            <ion-option>H2S Monitor</ion-option>
            <ion-option>Respiratory Protection</ion-option>
            <ion-option>Other</ion-option>
          </ion-select>
      </ion-item>

      <ion-item class="selectBox">
        <ion-label>PERMITS REQUIRED</ion-label>
          <ion-select ngModel name="permits" multiple="true">
            <ion-option>Hot Work</ion-option>
            <ion-option>Confined Space</ion-option>
            <ion-option>Excavation</ion-option>
            <ion-option>LOTO</ion-option>
            <ion-option>Other</ion-option>
          </ion-select>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>PERSON FACILITATING PERMITS</ion-label>
        <ion-input
        type="input"
        name="facilitator"
        ngModel></ion-input>
      </ion-item>

      <ion-item>
        <button [disabled]="!f.valid" type="submit" id="submitButton" ion-button full large>Submit</button>
     </ion-item>
   </ion-list>
  </form>
</ion-content>
