page-offline-data {
  .bold{
    font-weight:bold;
  }
  .label-md{
    margin:0;
  }
  .label-ios{
    margin:0;
  }
  .noData{
    text-align: center;
    margin-top: 10px;
    font-weight:bold;
  }
  .submitButton{
    text-align: center;
    margin-left: 65px;
  }
}
