page-login {
    ion-title {
            color: reapHeader;
            text-align:center;
            font-size: 9px;
            font-family: sans-serif;
      }
      h1{
        text-align: center;
        color:black;
        padding-top:15px;
        font-size: 30px;
        font-family:sans-serif;
      }
      #loginButton{
        color: white;
        background-color: $toolbar-background;
        width:100%;
        margin:50px 0 0 0;
        text-align: center;
      }
      .bg-form{
        background-color: white;
        font-size: 18px;
        font-weight: bold;
      }
      .item-md{
        height:80px;
      }
      .item-ios{
        height:80px;
      }
      .item-label-floating .text-input-md{
      text-align: left;
      }
      .item-label-floating .text-input-ios{
      text-align: left;
      }
      ion-label[floating]{
        color:red;
      }
      #TOS{
        text-decoration: underline;
        font-size: 20px;
        background: none !important;
        background-color: none !important;
        box-shadow: none !important;
        margin-left: 0;
        padding-right: 3px;
      }
      .TOS{
        margin-top: 25px;
        text-align: center;
      }
      .check{
        margin-right: 0;
        padding-right: 0;
        vertical-align: middle;
      }
      .checkbox-md .checkbox-checked{
        color: $toolbar-background;
        background-color: red;
        border-color: red;
      }
      .checkbox-ios .checkbox-checked{
        color: $toolbar-background;
        background-color: red;
        border-color: red;
      }
      .list-ios > .item-block:first-child{
        border-top: none;
      }
      .list-md > .item-block:first-child{
        border-top: none;
      }

  }
