page-login {
    // .background {
    //   background: linear-gradient(to top,	#2F4F4F 0%, #fff 100% )
    //   background-image: url('../assets/imgs/Roberts logo.png');
    //   background-repeat:no-repeat;
    //   background-position: bottom;
    //   background-size: contain;
    // }
    // .bg-form{
    //   background: linear-gradient(to left,	#2F4F4F 0%, #fff 100% )
    // }
    ion-title {
            color: reapHeader;
            text-align:center;
            font-size: 9px;
            font-family: sans-serif;
      }
      h1{
        text-align: center;
        color:black;
        padding-top:15px;
        font-size: 30px;
        font-family:sans-serif;
      }
      #loginButton{
        color: white;
        background-color: $toolbar-background;
        width:100%;
        margin:50px 0 0 0;
        text-align: center;
      }
      .bg-form{
        background-color: white;
      }
      .item-md{
        height:65px;
      }
      .item-ios{
        height:65px;
      }
      .text-input-md{
      text-align: center;
      }
      .text-input-ios{
      text-align: center;
      }
      #TOS{
        text-decoration: underline;
        font-size: 20px;
        background: none !important;
        background-color: none !important;
        box-shadow: none !important;
        margin-left: 0;
        padding-right: 3px;
      }
      .TOS{
        margin-top: 25px;
        text-align: center;
      }
      .check{
        margin-right: 0;
        padding-right: 0;
        vertical-align: middle;
      }

  }
