page-login {
    // .background {
    //   background: linear-gradient(to top,	#2F4F4F 0%, #fff 100% )
    //   background-image: url('../assets/imgs/Roberts logo.png');
    //   background-repeat:no-repeat;
    //   background-position: bottom;
    //   background-size: contain;
    // }
    // .bg-form{
    //   background: linear-gradient(to left,	#2F4F4F 0%, #fff 100% )
    // }
    ion-title {
            color: reapHeader;
            text-align:center;
            font-size: 9px;
            font-family: sans-serif;
      }
      h1{
        text-align: center;
        color:black;
        padding-top:15px;
        font-size: 30px;
        font-family:sans-serif;
      }
      #loginButton{
        color: white;
        background-color: $toolbar-background;
        width:100%;
        margin:50px 0 0 0;
        text-align: center;
      }
      .bg-form{
        background-color: white;
      }
      .item-md{
        height:65px;
      }
      .item-ios{
        height:80px;
      }
  }
