<ion-header>
  <ion-navbar>
    <ion-title>REVIEW</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-label>FIELD TICKET SUMMARY</ion-label>
          <ion-grid class="formDetails" *ngFor="let details of formDetails">
                <ion-row>
                  <ion-col>DATE:</ion-col>
                  <ion-col>{{details?.currentDate}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>PROJECT:</ion-col>
                  <ion-col>{{details.project?.Name}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>PROJECT LOCATION:</ion-col>
                  <ion-col>{{details.Location?.Location}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>COMPANY MAN:</ion-col>
                  <ion-col>{{details?.companyMan}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>AFE/ORDER NUMBER:</ion-col>
                  <ion-col>{{details?.orderNumber}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>FORM START TIME:</ion-col>
                  <ion-col>{{details?.formStartTime}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>START TIME:</ion-col>
                  <ion-col>{{details?.startTime}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>END TIME:</ion-col>
                  <ion-col>{{details?.endTime}}</ion-col>
                  <!-- <ng-template  #noTime><ion-col>End Time Will be recorded once form is submitted!</ion-col></ng-template> -->
                </ion-row>
                <ion-row>
                  <ion-col>FOREMAN:</ion-col>
                  <ion-col>{{details?.foreman}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>WO/CHARGE CODE NUMBER:</ion-col>
                  <ion-col>{{details?.workOrder}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>WORK DESCRIPTION:</ion-col>
                  <ion-col>{{details?.description}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>REPRESENTATIVE TO SIGN:</ion-col>
                  <ion-col>{{details?.representative}}</ion-col>
                </ion-row>
              </ion-grid>
               <ion-grid>
                 <ion-row>
                  <ion-col>
                     <button type="button" ion-button full name="editForm" (click)="editForm()">EDIT WORK ORDER</button>
                  </ion-col>
                </ion-row>
              </ion-grid>
      <br>
      <br>
      <hr>
    <ion-label>EQUIPMENT SUMMARY</ion-label>
      <hr>
      <ion-label class="subLabel">EXISTING EQUIPMENT(CREW)</ion-label>
                  <ion-grid class="formDetails" *ngFor="let equipment of crewEquipment;index as i;">
                      <ion-row>
                          <ion-col>EQUIPMENT:</ion-col>
                          <ion-col>{{equipment.Name }}</ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col col-6>STARTING ODOMETER:</ion-col>
                          <ion-col col-6>{{equipment?.Odometer }}</ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col col-6>ENDING ODOMETER:</ion-col>
                          <ion-col col-6 class="formCol">{{equipment?.endingOdometer}}</ion-col>
                      </ion-row>
                  </ion-grid>
    <hr>
    <ion-label class="subLabel">ADDED EQUIPMENT</ion-label>
                  <ion-grid class="formDetails" *ngFor="let equipment of equipmentDetails;index as i;">
                      <ion-row>
                        <ion-col col-6>EQUIPMENT:</ion-col>
                        <ion-col col-6>{{equipment?.Name}}</ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col col-6>STARTING ODOMETER:</ion-col>
                        <ion-col col-6 class="formCol">{{equipment?.Odometer}}</ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col col-6>ENDING ODOMETER:</ion-col>
                        <ion-col col-6 class="formCol">{{equipment?.endingOdometer}}</ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col col-12 style="text-align:center"> <button (tap)="removeEquipment(i)"ion-button class="trashButton"><ion-icon name="trash" ios="ios-trash" md="md-trash"></ion-icon></button></ion-col>
                      </ion-row>
                  </ion-grid>
    <ion-label>LABOR SUMMARY</ion-label>
    <hr>
    <ion-label class="subLabel">EXISTING PERSONNEL(CREW)</ion-label>
                  <ion-grid class="formDetails" *ngFor="let personnel of crewPersonnel;index as i;">
                        <ion-row>
                            <ion-col col-6>PERSONNEL:</ion-col>
                            <!-- <ion-col col-6>{{labor.Personnel?.FullName | uppercase}}</ion-col> -->
                            <ion-col col-6>{{personnel?.FullName}}</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>HOURS:</ion-col>
                            <ion-col class="formCol">{{personnel?.Hours}}</ion-col>
                        </ion-row>
                 </ion-grid>
   <hr>
  <ion-label class="subLabel">ADDED LABOR</ion-label>
                <ion-grid class="formDetails" *ngFor="let labor of laborDetails;index as i;">
                        <ion-row>
                            <ion-col col-6>NAME:</ion-col>
                            <ion-col col-6>{{labor?.Name}}</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-6>Hours:</ion-col>
                            <ion-col col-6 class="formCol">{{labor?.Hours}}</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-12 style="text-align:center"> <button (tap)="removeLabor(i)"ion-button class="trashButton"><ion-icon name="trash" ios="ios-trash" md="md-trash"></ion-icon></button></ion-col>
                        </ion-row>
                </ion-grid>

  <ion-label>JOB SUMMARY</ion-label>
  <hr>
            <ion-grid class="formDetails" *ngFor="let job of jobDetails;index as i;">
                <ion-row>
                  <ion-col col-6>DESCRIPTION:</ion-col>
                  <ion-col col-6>{{job?.jobDescription?.ItemDescription}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-6>QUANTITY:</ion-col>
                  <ion-col col-6>{{job?.quantity}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-6>HOURS/DAYS/COST:</ion-col>
                  <ion-col col-6>{{job?.each}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 style="text-align:center"> <button (tap)="removeDescription(i)"ion-button class="trashButton"><ion-icon name="trash" ios="ios-trash" md="md-trash"></ion-icon></button></ion-col>
                </ion-row>
            </ion-grid>


  <ion-label>MISC. SUMMARY</ion-label>
  <hr>
            <ion-grid class="formDetails" *ngFor="let misc of miscDetails;index as i;">
                <ion-row>
                  <ion-col col-6>DESCRIPTION:</ion-col>
                  <ion-col col-6>{{misc.description | uppercase}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>QUANTITY:</ion-col>
                  <ion-col>{{misc.quantity | uppercase}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 style="text-align:center"> <button (tap)="removeMisc(i)"ion-button class="trashButton"><ion-icon name="trash" ios="ios-trash" md="md-trash"></ion-icon></button></ion-col>
                </ion-row>
            </ion-grid>


  <ion-label>PHOTOS</ion-label>
  <hr>
  <ion-grid class="formDetails" *ngFor="let photo of photoDetails;index as i;">
                <ion-row>
                    <ion-col col-12 style="text-align:center"><img src="{{photo}}" alt="Upload Error"/></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 style="text-align:center"> <button (tap)="removePhoto(i)"ion-button class="trashButton"><ion-icon name="trash" ios="ios-trash" md="md-trash"></ion-icon></button></ion-col>
                </ion-row>
              </ion-grid>
  <hr>
  <ion-label color="primary" stacked>FOREMAN SIGNATURE</ion-label>
  <div class="box">
    <signature-pad
      name="Signature"
      id="signaturecanvas"></signature-pad>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <button type="button" ion-button full color="light" (click)="sigClear()" large>CLEAR</button>
        </ion-col>
        <ion-col col-12>
          <button ion-button full color="danger" (click)="sigBack()" large>CANCEL</button>
        </ion-col>
        <ion-col col-12>
          <button ion-button full color="secondary" [disabled]='submitClicked===true'(click)="sigSubmit()" large>SUBMIT</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
