<ion-header>
  <ion-navbar>
    <ion-title>REVIEW</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-label>SAFETY SUMMARY</ion-label>
          <ion-grid class="formDetails" *ngFor="let details of formDetails">
                <ion-row>
                  <ion-col>DATE:</ion-col>
                  <ion-col>{{details.currentDate}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>PROJECT:</ion-col>
                  <ion-col>{{details.project?.Name | uppercase}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>LOCATION:</ion-col>
                  <ion-col>{{details.Location?.Location | uppercase}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>COMPANY MAN:</ion-col>
                  <ion-col>{{details.companyMan | uppercase}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>PHONE NUMBER:</ion-col>
                  <ion-col>{{details.phoneNumber }}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>AFE/ORDER NUMBER:</ion-col>
                  <ion-col>{{details.orderNumber | uppercase}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>RIG NAME & NUMBER:</ion-col>
                  <ion-col>{{details.RigInfo?.Name | uppercase}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>CLASS:</ion-col>
                  <ion-col>{{details.Class?.Name | uppercase}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>ASSI LOCATION:</ion-col>
                  <ion-col>{{details.ASILocation | uppercase}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>START DATE:</ion-col>
                  <ion-col>{{details.startDate }}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>END DATE:</ion-col>
                  <ion-col>{{details.endDate }}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>DEPARTMENT:</ion-col>
                  <ion-col>{{details.department | uppercase}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>DIVISION:</ion-col>
                  <ion-col>{{details.division | uppercase}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>JOB DESCRIPTION:</ion-col>
                  <ion-col>{{details.description | uppercase}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>REPRESENTATIVE TO SIGN:</ion-col>
                  <ion-col>{{details.representative | uppercase}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>COMMENTS:</ion-col>
                  <ion-col>{{details.comments | uppercase}}</ion-col>
                </ion-row>
              </ion-grid>
               <ion-grid>
                 <ion-row>
                  <ion-col>
                     <button type="button" ion-button full color="warning" name="editForm" (click)="editForm()">EDIT MAIN FORM</button>
                  </ion-col>
                </ion-row>
              </ion-grid>
      <br>
      <br>
      <hr>
    <ion-label>EQUIPMENT SUMMARY</ion-label>
      <hr>
                  <ion-grid class="formDetails" *ngFor="let equipment of equipmentDetails;index as i;">
                      <ion-row>
                          <ion-col>EQUIPMENT:</ion-col>
                          <ion-col>{{equipment.Type | uppercase}}</ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col col-6>UNIT:</ion-col>
                          <ion-col col-6>{{equipment.Equipment?.Unit | uppercase}}</ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col col-6>NUMBER OF DAYS:</ion-col>
                          <ion-col col-6>{{equipment.days}}</ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col col-12 style="text-align:center"> <button (tap)="removeEquipment(i)"ion-button class="trashButton"><ion-icon name="trash" ios="ios-trash" md="md-trash"></ion-icon></button></ion-col>
                      </ion-row>
                  </ion-grid>

    <ion-label>LABOR SUMMRY</ion-label>
    <hr>
                  <ion-grid class="formDetails" *ngFor="let labor of laborDetails;index as i;">
                        <ion-row>
                            <ion-col col-6>PERSONNEL:</ion-col>
                            <ion-col col-6>{{labor.Personnel?.FullName | uppercase}}</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>HOURS:</ion-col>
                            <ion-col>{{labor.hours}}</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-12 style="text-align:center"> <button (tap)="removeLabor(i)"ion-button class="trashButton"><ion-icon name="trash" ios="ios-trash" md="md-trash"></ion-icon></button></ion-col>
                        </ion-row>
                 </ion-grid>

  <ion-label>MILEAGE SUMMARY</ion-label>
  <hr>
            <ion-grid class="formDetails" *ngFor="let mileage of mileageDetails;index as i;">
                <ion-row>
                  <ion-col col-6>MILES:</ion-col>
                  <ion-col col-6>{{mileage.miles | uppercase}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-6>NUMBER OF TRIPS:</ion-col>
                  <ion-col col-6>{{mileage.trips | uppercase}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 style="text-align:center"> <button (tap)="removeMileage(i)"ion-button class="trashButton"><ion-icon name="trash" ios="ios-trash" md="md-trash"></ion-icon></button></ion-col>
                </ion-row>
            </ion-grid>


  <ion-label>MISC. SUMMARY</ion-label>
  <hr>
            <ion-grid class="formDetails" *ngFor="let misc of miscDetails;index as i;">
                <ion-row>
                  <ion-col col-6>CATEGORY:</ion-col>
                  <ion-col col-6>{{misc.category | uppercase}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-6>DESCRIPTION:</ion-col>
                  <ion-col col-6>{{misc.description | uppercase}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>QUANTITY:</ion-col>
                  <ion-col>{{misc.quantity | uppercase}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 style="text-align:center"> <button (tap)="removeMisc(i)"ion-button class="trashButton"><ion-icon name="trash" ios="ios-trash" md="md-trash"></ion-icon></button></ion-col>
                </ion-row>
            </ion-grid>


  <ion-label>PHOTOS</ion-label>
  <hr>
  <ion-grid class="formDetails" *ngFor="let photo of photoDetails;index as i;">
                <ion-row>
                    <ion-col col-12 style="text-align:center"><img src="{{photo}}" alt="Upload Error"/></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 style="text-align:center"> <button (tap)="removePhoto(i)"ion-button class="trashButton"><ion-icon name="trash" ios="ios-trash" md="md-trash"></ion-icon></button></ion-col>
                </ion-row>
              </ion-grid>
  <hr>
  <ion-label color="primary" stacked>SIGNATURE</ion-label>
  <div class="box">
    <signature-pad
      name="Signature"
      id="signaturecanvas"></signature-pad>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <button type="button" ion-button full color="light" (click)="sigClear()" large>CLEAR</button>
        </ion-col>
        <ion-col col-12>
          <button ion-button full color="danger" (click)="sigBack()" large>CANCEL</button>
        </ion-col>
        <ion-col col-12>
          <button ion-button full color="secondary" [disabled]='submitClicked===true'(click)="sigSubmit()" large>SUBMIT</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
