page-field-ticket {
  ion-title {
      text-align:center;
      color: reapHeader;
      font-size: 9px;
      font-family: sans-serif;
      }
  .label-md[stacked]{
    height:50px;
    font-size:1.2em;
    font-weight:bold;
    color:primary;
  }
  .label-md{
    margin:0;
    // margin-top:5px;
    // margin-bottom:5px;
  }
  .label-ios{
    margin:0;
    // margin-top:5px;
    // margin-bottom:5px;
  }
  ion-input{
    font-size: 1.5em;
    text-align: center;
  }

  .removeText{
    float:right;
  }
  .specialSelect{
    font-size: 20px;

  }
//refers to last value of div to correlate same border
  .list-md .item-input:last-child{
    border-bottom: solid 3px;
    border-style: groove;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .list-ios .item-input:last-child{
    border-bottom: solid 3px;
    border-style: groove;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}
