<ion-header>

  <ion-navbar>
    <ion-title>NEW PROJECT</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list>


      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>PROJECT NAME</ion-label>
        <ion-input
          #projectName
          ngModel
          name="projectName">
        </ion-input>
      </ion-item>

      <ion-item  class="location">
      <ion-chip>
          <p>NEAREST LOCATIONS</p>
          <button ion-button type="button" [disabled]="selectedClosestLoc" clear color="primary" (click)="grabLocation()">
              <ion-icon class="locIcon" name="navigate"></ion-icon>
          </button>
       </ion-chip>
       <ion-chip>
           <p>RESET</p>
           <button ion-button type="button" [disabled]="!selectedClosestLoc" clear color="primary" (click)="resetLocation()">
               <ion-icon class="locIcon" name="refresh"></ion-icon>
           </button>
       </ion-chip>
    </ion-item>

      <ion-item class="formField ionField" *ngIf="!selectedClosestLoc">
        <ion-label color="primary" stacked >LOCATION</ion-label>
          <select-searchable
          item-content
          [(ngModel)]="location"
          [items]="locationsArray"
          title="Location"
          itemValueField=ID
          itemTextField=Location
          name="Location"
          [canSearch]="true"
          [canClear]="true"
          (onChange)="searchableChange($event)">
        </select-searchable>
      </ion-item>

      <ion-item class="formField ionField" *ngIf="selectedClosestLoc">
      <!-- data thrown into dropdown from API -->
      <ion-label stacked>NEAREST LOCATION</ion-label>
        <select-searchable
         item-content
         ngModel
         title="updatedLocation"
         itemValueField=ID
         itemTextField=Location
         name="updatedLocation"
         [items]="updatedLocation"
         [canSearch]="true"
         [canClear]="true"
         [focusSearchbar]="true"
         (onChange)="searchableChange($event)">
       </select-searchable>
    </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked >COMPANY MAN</ion-label>
        <ion-input ngModel name="companyMan">
        </ion-input>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked >COMPANY MAN PHONE NUMBER</ion-label>
        <ion-input
        ngModel
        type="text"
        (keypress)="keyPress($event)"
        name="phoneNumber"
        minlength="7"
        maxlength="10">
        </ion-input>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>AFE/ORDER NUMBER</ion-label>
        <ion-select
          [(ngModel)]="orderNumber"
          name="orderNumber">
          <ion-option value=newAFE>*CREATE NEW AFE</ion-option>
          <ion-option value={{afe.Name}} *ngFor="let afe of afeArray" selected="afe.Name == '1'">{{afe.Name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="formField ionField" *ngIf="orderNumber == 'newAFE'">
        <ion-label color="primary" stacked>NEW AFE</ion-label>
        <ion-label class="warningLabel"*ngIf="orderNumber.touched" text-wrap>Note: You will need to sync app in settings for New AFE to apply!</ion-label>
        <ion-input type="text" ngModel name="orderNumber" #orderNumber="ngModel"></ion-input>
      </ion-item>


      <ion-item class="formField ionField">
        <ion-label color="primary" stacked >RIG NAME & NUMBER</ion-label>
          <select-searchable
          class="specialSelect"
          item-content
          [(ngModel)]="riginfo"
          [items]="rigInfoArray"
          title="RigInfo"
          itemValueField=ID
          itemTextField=Name
          name="RigInfo"
          [canSearch]="true"
          [canClear]="true"
          (onChange)="searchableChange($event)">
        </select-searchable>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" class="specialSelect" stacked >CLASS</ion-label>
          <select-searchable
          class="specialSelect"
          item-content
          [(ngModel)]="class"
          [items]="classArray"
          title="Class"
          itemValueField=ID
          itemTextField=Name
          name="Class"
          [canSearch]="true"
          [canClear]="true"
          (onChange)="searchableChange($event)">
        </select-searchable>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>ASSI LOCATION</ion-label>
        <ion-select [(ngModel)]="ASILocation" name="ASILocation">
          <ion-option value="{{asi.Name}}" *ngFor="let asi of ASILocations">{{asi.Name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>DEPARTMENT</ion-label>
        <ion-select ngModel name="department">
          <ion-option value="DRILLING">DRILLING</ion-option>
          <ion-option value="PRODUCTION">PRODUCTION</ion-option>
          <ion-option value="COMPLETION">COMPLETION</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>DIVISION</ion-label>
        <ion-select ngModel name="division">
          <ion-option value="COMPLETION">COMPLETION</ion-option>
          <ion-option value="CONSTRUCTION">CONSTRUCTION</ion-option>
          <ion-option value="DRILLING">DRILLING</ion-option>
          <ion-option value="MAINTENANCE">MAINTENANCE</ion-option>
          <ion-option value="NON-COMPLETION">NON-COMPLETION</ion-option>
          <ion-option value="OTHER">OTHER</ion-option>
          <ion-option value="PRODUCTION">PRODUCTION</ion-option>
          <!-- <ion-option value="SAFETY SERVICES">SAFETY SERVICES</ion-option>
          <ion-option value="ENVOIRNMENTAL SERVICES">ENVIORNMENTAL SERVICES</ion-option>
          <ion-option value="PULLING UNIT SERVICES">PULLING UNIT SERVICES</ion-option>
          <ion-option value="WATER SERVICES">WATER SERVICES</ion-option>
          <ion-option value="ROUSTABOUT SERVICES">ROUSTABOUT SERVICES</ion-option>
          <ion-option value="TRUCKING SERVICES">TRUCKING SERVICES</ion-option> -->
        </ion-select>
      </ion-item>

      <ion-item>
        <button [disabled]="!f.valid" type="submit" id="submitButton" ion-button full large>Submit</button>
     </ion-item>
   </ion-list>
  </form>
</ion-content>
