page-project {
  ion-title {
      color: reapHeader;
      font-size: 9px;
      font-family: sans-serif;
      }
  .label-md[stacked]{
    height:50px;
    font-size:1.2em;
    font-weight:bold;
    color:primary;
  }
  .label-md{
    margin:0;
    // margin-top:5px;
    // margin-bottom:5px;
  }
  .label-ios{
    margin:0;
    // margin-top:5px;
    // margin-bottom:5px;
  }
  .select-searchable-md .select-searchable-value{
    max-width:45%;
  }
  .select-searchable-ios .select-searchable-value{
    max-width:45%;
  }
  ion-input{
    font-size: 1.5em;
    text-align: center;
  }
}
