<ion-header>

  <ion-navbar>
    <ion-title>NEW PROJECT</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list>


      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>PROJECT NAME</ion-label>
        <ion-input
          #projectName
          ngModel
          name="projectName">
        </ion-input>
      </ion-item>

      <ion-item class="formField">
        <ion-label color="primary" stacked >LOCATION</ion-label>
          <select-searchable
          item-content
          [(ngModel)]="location"
          [items]="locationsArray"
          title="Location"
          itemValueField=ID
          itemTextField=Location
          name="Location"
          [canSearch]="true"
          [canClear]="true"
          (onChange)="locationChange($event)">
        </select-searchable>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked >COMPANY MAN</ion-label>
        <ion-input ngModel name="companyMan">
        </ion-input>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked >COMPANY MAN PHONE NUMBER</ion-label>
        <ion-input
        ngModel
        type="text"
        (keypress)="keyPress($event)"
        name="phoneNumber"
        minlength="7"
        maxlength="10">
        </ion-input>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>AFE/ORDER NUMBER</ion-label>
        <ion-select
          [(ngModel)]="orderNumber"
          name="orderNumber">
          <ion-option value=newAFE>NEW AFE</ion-option>
          <ion-option value={{afe.Name}} *ngFor="let afe of afeArray" selected="afe.Name == '1'">{{afe.Name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="formField ionField" *ngIf="orderNumber == 'newAFE'">
        <ion-label color="primary" stacked>NEW AFE</ion-label>
        <ion-label class="warningLabel"*ngIf="orderNumber.touched" text-wrap>Note: New AFE will take up to 5 minutes to populate on forms!</ion-label>
        <ion-input type="text" ngModel name="orderNumber" #orderNumber="ngModel"></ion-input>
      </ion-item>


      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>RIG NAME & NUMBER</ion-label>
        <ion-input
        type="text"
        name="rigName"
        ngModel></ion-input>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>DEPARTMENT</ion-label>
        <ion-select ngModel name="department">
          <ion-option value="DRILLING">DRILLING</ion-option>
          <ion-option value="PRODUCTION">PRODUCTION</ion-option>
          <ion-option value="COMPLETION">COMPLETION</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>DIVISION</ion-label>
        <ion-select ngModel name="division">
          <ion-option value="SAFETY SERVICES">SAFETY SERVICES</ion-option>
          <ion-option value="ENVOIRNMENTAL SERVICES">ENVIORNMENTAL SERVICES</ion-option>
          <ion-option value="PULLING UNIT SERVICES">PULLING UNIT SERVICES</ion-option>
          <ion-option value="WATER SERVICES">WATER SERVICES</ion-option>
          <ion-option value="ROUSTABOUT SERVICES">ROUSTABOUT SERVICES</ion-option>
          <ion-option value="TRUCKING SERVICES">TRUCKING SERVICES</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <button [disabled]="!f.valid" type="submit" id="submitButton" ion-button full large>Submit</button>
     </ion-item>
   </ion-list>
  </form>
</ion-content>
