page-invoice {
          ion-title{
            text-align: center;
          }
        .invoiceItem{
          background-color: black;
          width: 100%;
          color: white;
          h1{
            padding-right: 100%;
            color: white;
            padding-top: 0;
         }
        }
        .subInvoice{
          background-color: white;
          width: 100%;
          color: black;
          .cameraButton{
            height:100px;
            width:100px;
          }
          .requestButton{
            float: right;
            height:100px;
            width:100px;

          }
         }
}
