page-well-locations {
  ion-title {
      text-align: center;
      color: reapHeader;
      font-size: 9px;
      font-family: sans-serif;
      }
  .label-md[stacked]{
    height:25px;
    font-size:1.2em;
    font-weight:bold;
    color:primary;
  }
  .label-md{
    margin:0;
    // margin-top:5px;
    // margin-bottom:5px;
  }
  .label-ios{
    margin:0;
    // margin-top:5px;
    // margin-bottom:5px;
  }

  ion-input{
    font-size: 1.5em;
    text-align: center;
  }
}
