page-support {
  ion-title {
      color: white;
      text-align:center;
      font-size: 1.6em;
      }
  .navButtons{
      background-color: $toolbar-background;
      font-size: 18px;
      color: white;
      font-family: inherit;
      font-weight: lighter;
      text-decoration:underline;
    }
  ion-col{
    text-align: center;
    margin: 5px 0 5px 0;
  }
  #supportButton{
    color: white;
    background-color: $toolbar-background;
    width:70%;
    margin:0;
    text-align: center;
    height: 40px;
    font-size: 18px;
    font-family: inherit;
  }toolbar-title toolbar-title-md{
    font-family: inherit;
  }
  .supportData{
    padding-bottom:15px;
    text-decoration:underline;
    color:blue;
    font-size:1.1em;
  }
}
