page-success {
  #homeButton{
    color: white;
    background-color: $toolbar-background;
    width:99%;
    margin-top:50px;
    text-align: center;
  }
  h1{
    font-weight: bold;
    text-align: center;
  }
  h3{
  white-space: pre-wrap;
  font-weight: bold;
  text-align: center;
 }
}
