page-success {
  #homeButton{
    color: white;
    background-color: $toolbar-background;
    width:100%;
    margin:50px 0 0 7px;
    text-align: center;
  }
  h1{
    font-weight: bold;
    text-align: center;
  }
  h3{
    font-weight: bold;
    text-align: center;
  }
}
