page-terms-of-service {
//   .webPage{
// width: 100%;
// height: 100%;
// border: none;
// }
    p{
      text-align: center;
    }
    a{
      text-align: center;
    }
    h3{
      text-align: center;
    }
    h4{
      text-align: center;
    }
    a{
      text-align: center;
    }
    i{
      text-align: center;
    }
}
