<ion-header>
  <ion-navbar>
    <ion-title>SAFETY FORM</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list>
      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>DATE</ion-label>
        <ion-datetime
        type="date"
        name="currentDate"
        pickerFormat="MM/DD/YYYY"
        displayFormat="MM/DD/YYYY"
        [(ngModel)]="currentDate"></ion-datetime>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>PROJECT</ion-label>
        <ion-select
          #projectName
          ngModel
          name="project">
          <ion-option (ionSelect)="projectSelect(project.ProjectName,i)" [value]={ID:project.ID,Name:project.ProjectName} *ngFor="let project of projectArray; let i = index" >{{project.ProjectName}}</ion-option>
        </ion-select>
      </ion-item>
<!------------------------------------------------------------------------->

<div *ngIf="projectSelected">
      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>AFE/ORDER NUMBER</ion-label>
        <ion-select
          [(ngModel)]="selectedArray['AFE_Or_Order_Number']"
          name="orderNumber"
          #orderNumber="ngModel">
          <ion-option value="newAFE">NEW AFE</ion-option>
          <ion-option value="{{afe.Name}}" *ngFor="let afe of afeArray; let i = index">{{afe.Name}}</ion-option>
        </ion-select>
      </ion-item>
      <!-- When user types new AFE, but decides to click back
            on a current AFE the value is not submitted -->
      <ion-item class="formField ionField" *ngIf="selectedArray['AFE_Or_Order_Number'] == 'newAFE'">
          <ion-label color="primary" stacked>NEW AFE</ion-label>
          <ion-label class="warningLabel" *ngIf="orderNumber.touched" text-wrap>Note: New AFE will take up to 5 minutes to populate on forms!</ion-label>
          <ion-input type="text" ngModel name="orderNumber" #orderNumber="ngModel" text-wrap></ion-input>
      </ion-item>
    <ion-item class="formField ionField">
      <ion-label color="primary" stacked >LOCATION</ion-label>
        <select-searchable
          item-content
          [(ngModel)]="selectedArray['Location']"
          [items]="locationsArray"
          title="Location"
          itemValueField=ID
          itemTextField=Location
          name="Location"
          [canSearch]="true"
          [canClear]="true"
          (onChange)="locationChange($event)">
        </select-searchable>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>RIG NAME & NUMBER</ion-label>
          <ion-input
            type="text"
            name="rigName"
            [(ngModel)]="selectedArray['Rig_Name_And_Number']">
          </ion-input>
        </ion-item>


        <ion-item class="formField ionField">
          <ion-label color="primary" stacked>DEPARTMENT</ion-label>
          <ion-select [(ngModel)]="selectedArray['Department']" name="department">
            <ion-option value="DRILLING">DRILLING</ion-option>
            <ion-option value="PRODUCTION">PRODUCTION</ion-option>
            <ion-option value="COMPLETION">COMPLETION</ion-option>
          </ion-select>
        </ion-item>


        <ion-item class="formField ionField">
          <ion-label color="primary" stacked>DIVISION</ion-label>
          <ion-select [(ngModel)]="selectedArray['Division']" name="division">
            <ion-option value="SAFETY SERVICES">SAFETY SERVICES</ion-option>
            <ion-option value="ENVOIRNMENTAL SERVICES">ENVIORNMENTAL SERVICES</ion-option>
            <ion-option value="PULLING UNIT SERVICES">PULLING UNIT SERVICES</ion-option>
            <ion-option value="WATER SERVICES">WATER SERVICES</ion-option>
            <ion-option value="ROUSTABOUT SERVICES">ROUSTABOUT SERVICES</ion-option>
            <ion-option value="TRUCKING SERVICES">TRUCKING SERVICES</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="formField ionField">
          <ion-label color="primary" stacked >COMPANY MAN</ion-label>
          <ion-input [(ngModel)]="selectedArray['Company_Man']" name="companyMan">
          </ion-input>
        </ion-item>

        <ion-item class="formField ionField">
          <ion-label color="primary" stacked >COMPANY MAN PHONE NUMBER</ion-label>
          <ion-input
          [(ngModel)]="selectedArray['Company_Man_Phone_Number']"
          type="text"
          (keypress)="keyPress($event)"
          name="phoneNumber"
          minlength="7"
          maxlength="10"
          placeholder="Phone Number">
          </ion-input>
        </ion-item>
</div>
<div *ngIf="!projectSelected">
      <ion-item class="formField ionField">
        <ion-label color="primary" stacked >LOCATION</ion-label>
        <select-searchable
        item-content
        [(ngModel)]="location"
        [items]="locationsArray"
        title="Location"
        itemValueField=ID
        itemTextField=Location
        name="Location"
        [canSearch]="true"
        [canClear]="true"
        (onChange)="locationChange($event)">
      </select-searchable>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked >COMPANY MAN</ion-label>
        <ion-input ngModel name="companyMan">
        </ion-input>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked >COMPANY MAN PHONE NUMBER</ion-label>
        <ion-input
        ngModel
        type="text"
        (keypress)="keyPress($event)"
        name="phoneNumber"
        minlength="7"
        maxlength="10">
        </ion-input>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>AFE/ORDER NUMBER</ion-label>
        <ion-select
          [(ngModel)]="orderNumber"
          name="orderNumber">
          <ion-option value=newAFE>New AFE</ion-option>
          <ion-option value={{afe.Name}} *ngFor="let afe of afeArray" selected="afe.Name == '1'">{{afe.Name}}</ion-option>
        </ion-select>
      </ion-item>
    <!-- When user types new AFE, but decides to click back
        on a current AFE the value is not submitted -->
      <ion-item class="formField ionField" *ngIf="orderNumber == 'newAFE'">
        <ion-label color="primary" stacked>New AFE</ion-label>
        <!-- <ion-label class="warningLabel"*ngIf="orderNumber.touched" text-wrap>Note: New AFE will take up to 5 minutes to populate on forms!</ion-label> -->
        <ion-input type="text" ngModel name="orderNumber" #orderNumber="ngModel" placeholder="" text-wrap></ion-input>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>RIG NAME & NUMBER</ion-label>
        <ion-input
        type="text"
        name="rigName"
        ngModel></ion-input>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>DEPARTMENT</ion-label>
        <ion-select ngModel name="department">
          <ion-option value="DRILLING">DRILLING</ion-option>
          <ion-option value="PRODUCTION">PRODUCTION</ion-option>
          <ion-option value="COMPLETION">COMPLETION</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>DIVISION</ion-label>
        <ion-select [(ngModel)]="selectedArray['Division']" name="division">
          <ion-option value="SAFETY SERVICES">SAFETY SERVICES</ion-option>
          <ion-option value="ENVOIRNMENTAL SERVICES">ENVIORNMENTAL SERVICES</ion-option>
          <ion-option value="PULLING UNIT SERVICES">PULLING UNIT SERVICES</ion-option>
          <ion-option value="WATER SERVICES">WATER SERVICES</ion-option>
          <ion-option value="ROUSTABOUT SERVICES">ROUSTABOUT SERVICES</ion-option>
          <ion-option value="TRUCKING SERVICES">TRUCKING SERVICES</ion-option>
        </ion-select>
      </ion-item>
</div>

      <!-- <ion-chip *ngIf="startDate.touched" class="removeText" >
        <ion-label>Clear Start Date</ion-label>
          <button ion-button type="button" clear color="danger" (click)="delete(startDate)">
              <ion-icon name="close-circle"></ion-icon>
          </button>
      </ion-chip> -->

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>START DATE</ion-label>
        <ion-datetime
        type="date"
        name="startDate"
        id="startDate"
        displayFormat="MM/DD/YYYY"
        ngModel
        #startDate="ngModel">
        </ion-datetime>
      </ion-item>

      <!-- <ion-chip *ngIf="endDate.touched" class="removeText" #chip1>
        <ion-label>Clear End Date</ion-label>
          <button ion-button clear color="danger" (click)="delete(endDate)">
              <ion-icon name="close-circle"></ion-icon>
          </button>
      </ion-chip> -->

      <!-- <div>
      <ion-label class="warningLabel"*ngIf="startDate.touched && endDate.pristine">Please Select An End Date!</ion-label>
    </div> -->


      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>END DATE</ion-label>
        <ion-datetime
        type="date"
        name="endDate"
        displayFormat="MM/DD/YYYY"
        ngModel
        #endDate="ngModel"></ion-datetime>
      </ion-item>

<!-- [disabled]="startDate.touched || endDate.touched" -->
      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>QUANTITY OF HOURS</ion-label>
        <ion-input
        type="number"
        name="hours"
        id="hours"
        ngModel>
        </ion-input>
    </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>JOB DESCRIPTION</ion-label>
        <ion-textarea
        type="textarea"
        name="description"
        placeholder="ex. delivering trailers,supervision,etc"
        ngModel></ion-textarea>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>NUMBER OF TRIPS</ion-label>
        <ion-input
        type="number"
        name="trips"
        placeholder=""
        ngModel></ion-input>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>NUMBER OF MILES</ion-label>
        <ion-input
        type="number"
        name="miles"
        placeholder=""
        ngModel></ion-input>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>REPRESENTATIVE TO SIGN</ion-label>
        <ion-input
        type="text"
        name="representative"
        placeholder="First and Last Name"
        ngModel></ion-input>
      </ion-item>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked>COMMENTS</ion-label>
        <ion-textarea
        type="text"
        name="comments"
        placeholder=""
        ngModel></ion-textarea>
      </ion-item>

      <ion-item>
        <button [disabled]="!f.valid" type="submit" id="submitButton" ion-button full large>Submit</button>
     </ion-item>
   </ion-list>
  </form>
</ion-content>
