page-labor {
  .select-searchable-value-item{

    font-size: 20px;
    font-weight: bold;
  }
  ion-title {
      color: reapHeader;
      font-size: 9px;
      font-family: sans-serif;
      }
  .label-md[stacked]{
    height:50px;
    font-size:1.2em;
    font-weight:bold;
    color:primary;
  }
  .label-md{
    margin:0;
    // margin-top:5px;
    // margin-bottom:5px;
  }
  .label-ios{
    margin:0;
    // margin-top:5px;
    // margin-bottom:5px;
  }
  ion-input{
    font-size: 1.5em;
    text-align: center;
  }
  ion-col{
    border: 1px solid;
    text-align: center;
  }
  .formCol{
    background-color:#D2F27C;
  }
  .gridInput{
    height:6px;
  }
  .text-input-md{
    margin:0;
  }
  .text-input-ios{
    margin:0;
  }
  .gridLabel{
    text-align:center;
    font-weight:bold;
    margin-top:5px;
  }
  .custPersonnel{
    margin-bottom:25px;
    height:165px;
  }
  #personnelButton{
    font-size: 2.5em;
    color: $toolbar-background;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  .trashButton{
    color:black;
    background-color: red;
  }
  .noBorder{
    border:none;
  }
}
