<ion-header>

  <ion-navbar>
    <ion-title>MANAGE CREW</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked >CHANGE PERSONNEL</ion-label>
          <select-searchable
          class="specialSelect"
          item-content
          [(ngModel)]="globalPersonnel"
          [items]="personnelArray"
          title="Personnel"
          itemValueField=ID
          itemTextField=FullName
          name="Personnel"
          [canSearch]="true"
          [canClear]="true"
          [isMultiple]="true"
          (onChange)="personnelChange($event)">
        </select-searchable>
      </ion-item>
<br>
      <ion-label *ngIf="globalPersonnel; else emptyPersonnel" class="headerLabel" stacked>CURRENT PERSONNEL</ion-label>
        <!-- <div *ngIf="globalPersonnel; else emptyPersonnel"> -->
        <ion-grid  *ngFor="let personnel of globalPersonnel;let i = index">
          <ion-row>
            <ion-col>Name:</ion-col>
            <ion-col>{{personnel?.FullName}}</ion-col>
            <!-- <ion-col><button type="button" (tap)="removePersonnel(i)" ion-button class="trashButton"><ion-icon name="trash" ios="ios-trash" md="md-trash"></ion-icon></button></ion-col> -->
          </ion-row>
        </ion-grid>
      <!-- </div> -->
      <ng-template #emptyPersonnel>
      <ion-label class="headerLabel" stacked>NO PERSONNEL SELECTED</ion-label>
      </ng-template>
<br>
<hr>
<br>
<br>
      <ion-item class="formField ionField" >
          <ion-label color="primary" stacked>CHANGE EQUIPMENT</ion-label>
            <select-searchable
            class="specialSelect"
             item-content
             [(ngModel)]="globalEquipment"
             title="Equipment"
             itemValueField=ID
             itemTextField=Name
             name="Equipment"
             [items]="equipmentArray"
             [canSearch]="true"
             [canClear]="true"
             [isMultiple]="true"
             (onChange)="equipmentChange($event)">
            </select-searchable>
        </ion-item>
<br>
        <ion-label class="headerLabel" *ngIf="globalEquipment || globalEquipment?.length; else emptyEquipment" stacked>CURRENT EQUIPMENT</ion-label>
          <!-- <div *ngIf="globalEquipment; else emptyEquipment"> -->
          <ion-grid *ngFor="let equipment of globalEquipment;let i = index">
            <ion-row>
              <ion-col>Name:</ion-col>
              <ion-col>{{equipment?.Name}}</ion-col>
              <!-- <ion-col><button type="button" (tap)="removeEquipment(i)" ion-button class="trashButton"><ion-icon name="trash" ios="ios-trash" md="md-trash"></ion-icon></button></ion-col> -->
            </ion-row>
          </ion-grid>
        <!-- </div> -->
        <ng-template #emptyEquipment>
        <ion-label class="headerLabel" stacked>NO EQUIPMENT SELECTED</ion-label>
        </ng-template>

<br>
<hr>
<br>
<br>
      <ion-item class="formField ionField" >
          <ion-label color="primary" stacked>CHANGE ITEM TYPE</ion-label>
            <select-searchable
            class="specialSelect"
             item-content
             [(ngModel)]="globalItems"
             title="Items"
             itemValueField=JobID
             itemTextField=ItemDescription
             name="Items"
             [items]="itemArray"
             [canSearch]="true"
             [canClear]="true"
             [isMultiple]="true"
             (onChange)="itemChange($event)">
            </select-searchable>
        </ion-item>
<br>
        <ion-label class="headerLabel" *ngIf="globalItems; else emptyItems" stacked>CURRENT ITEM</ion-label>
          <!-- <div *ngIf="globalItems; else empty"> -->
          <ion-grid *ngFor="let items of globalItems;let i = index">
            <ion-row>
              <ion-col class="bold">Description:</ion-col>
              <ion-col class="bold">{{items?.ItemDescription}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col>Input Quantity:</ion-col>
                <ion-col class="formCol"><ion-input class="gridInput" ngModel name="quantity{{i}}" type="number"></ion-input></ion-col>
            </ion-row>
            <ion-row>
                <ion-col>Quantity:</ion-col>
                <ion-col>{{items?.quantity}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col>Input Hours/Days/Cost:</ion-col>
                <ion-col class="formCol"><ion-input class="gridInput" ngModel name="each{{i}}" type="number"></ion-input></ion-col>
            </ion-row>
            <ion-row>
                <ion-col>Hours/Days/Cost:</ion-col>
                <ion-col>{{items?.each}}</ion-col>
            </ion-row>
          </ion-grid>
        <!-- </div> -->
        <ng-template #emptyItems>
        <ion-label class="headerLabel" stacked>NO ITEMS SELECTED</ion-label>
        </ng-template>
<br>
<br>
      <ion-item>
        <button [disabled]="!f.valid" type="submit" id="submitButton" ion-button full large>Submit</button>
     </ion-item>
   </ion-list>
  </form>
</ion-content>
