page-manage-crew {
  ion-title {
      color: reapHeader;
      text-align: center;
      font-size: 9px;
      font-family: sans-serif;
      }
  .label-md[stacked]{
    height:25px;
    font-size:20px;
    font-weight:bold;
    color:primary;
  }
  .label-ios[stacked]{
    height:25px;
    font-size:20px;
    font-weight:bold;
    color:primary;
  }
  .label-md{
    margin:0;
    // margin-top:5px;
    // margin-bottom:5px;
  }
  .label-ios{
    margin:0;
    // margin-top:5px;
    // margin-bottom:5px;
  }

  ion-input{
    font-size: 1.5em;
    text-align: center;
  }
  .trashButton{
    color:black;
    background-color: red;
  }
  ion-row{
    border-bottom:solid 1px;
    font-weight: bold;
  }
  ion-label.headerLabel.label.label-md{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  ion-label.headerLabel.label.label-ios{
    text-align: center;
    font-size: 20px;
    font-weight: bold;

  }
  .content-md hr{
    background-color:black;
  }
  .content-ios hr{
    background-color:black;
    border-width: 2px;
  }
  hr{
    border-width: 0;
    height:3px;
  }
  .formCol{
    background-color:#D2F27C;
  }
  .bold{
    font-weight:bold;
  }
  .gridInput{
    height:6px;
  }
  .text-input-md{
    margin:0;
  }
  .text-input-ios{
    margin:0;
  }
  .gridLabel{
    text-align:center;
    font-weight:bold;
    margin-top:5px;
  }
  ion-input{
    font-size: 1.5em;
    text-align: center;
  }
  .col{

    padding:8px;
    text-align: left;
  }
  .select-searchable-value-item{
    display:none !important;
  }
  div.item-inner{
    background: grey;
  }
  .select-searchable-ios .select-searchable-icon-inner{
    color:black;
  }
  p{
    font-size: 12px;
    text-align: center;
    font-weight:bold;
    color: red;
  }
}
