<ion-header>

  <ion-navbar>
    <ion-title>MANAGE CREW</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list>

      <ion-item class="formField ionField">
        <ion-label color="primary" stacked >SELECT PROJECT</ion-label>
          <select-searchable
          class="specialSelect"
          item-content
          [(ngModel)]="globalProject"
          [items]="projectArray"
          title="Project"
          itemValueField=ID
          itemTextField=Project_Name_Description
          name="Project"
          [canSearch]="true"
          [canClear]="true"
          [isMultiple]="false"
          (onChange)="projectChange($event)">
        </select-searchable>
      </ion-item>
<br>
      <ion-label *ngIf="!noProject; else emptyProject" class="headerLabel" stacked>CURRENT PROJECT</ion-label>
        <ion-grid>
          <ion-row *ngIf="!noProject">
            <ion-col>Name:</ion-col>
            <ion-col>{{globalProject?.Project_Name_Description}}</ion-col>
            <!-- <ion-col><button type="button" (tap)="removePersonnel(i)" ion-button class="trashButton"><ion-icon name="trash" ios="ios-trash" md="md-trash"></ion-icon></button></ion-col> -->
          </ion-row>
        </ion-grid>
      <ng-template #emptyProject>
      <ion-label class="headerLabel" stacked>NO PROJECT SELECTED</ion-label>
      </ng-template>
<br>
<hr>
<br>
<br>
<div *ngIf="!noProject">
      <ion-item class="formField ionField">
        <ion-label color="primary" stacked >SELECT PHASE CODE</ion-label>
          <select-searchable
          class="specialSelect"
          item-content
          [(ngModel)]="globalPhaseCode"
          [items]="phaseArray"
          title="PhaseCode"
          itemValueField=PhaseCode
          itemTextField=Description
          name="Phase"
          [canSearch]="true"
          [canClear]="true"
          [isMultiple]="false"
          (onChange)="phaseChange($event)">
        </select-searchable>
      </ion-item>
<br>
      <ion-label *ngIf="!noPhaseCode; else emptyPhaseCode" class="headerLabel" stacked>CURRENT PHASE CODE</ion-label>
        <!-- <div *ngIf="globalPersonnel; else emptyPersonnel"> -->
        <ion-grid *ngIf="!noPhaseCode">
          <ion-row>
            <ion-col>Phase Code:</ion-col>
            <ion-col>{{globalPhaseCode?.Description}}</ion-col>
            <!-- <ion-col><button type="button" (tap)="removePersonnel(i)" ion-button class="trashButton"><ion-icon name="trash" ios="ios-trash" md="md-trash"></ion-icon></button></ion-col> -->
          </ion-row>
        </ion-grid>
      <!-- </div> -->
      <ng-template #emptyPhaseCode>
      <ion-label class="headerLabel" stacked>NO PHASE CODE SELECTED</ion-label>
      </ng-template>
<br>
<hr>
<br>
<br>
      <ion-item class="formField ionField">
        <ion-label color="primary" stacked >SELECT PERSONNEL</ion-label>
          <select-searchable
          class="specialSelect"
          item-content
          [(ngModel)]="globalPersonnel"
          [items]="personnelArray"
          title="Personnel"
          itemValueField=ID
          itemTextField=FullName
          name="Personnel"
          [canSearch]="true"
          [canClear]="true"
          [isMultiple]="true"
          (onChange)="personnelChange($event)">
        </select-searchable>
      </ion-item>
<br>
      <ion-label *ngIf="!noPersonnel; else emptyPersonnel" class="headerLabel" stacked>CURRENT PERSONNEL</ion-label>
        <!-- <div *ngIf="globalPersonnel; else emptyPersonnel"> -->
        <ion-grid  *ngFor="let personnel of globalPersonnel;let i = index">
          <ion-row>
            <ion-col>Name:</ion-col>
            <ion-col>{{personnel?.FullName}}</ion-col>
            <!-- <ion-col><button type="button" (tap)="removePersonnel(i)" ion-button class="trashButton"><ion-icon name="trash" ios="ios-trash" md="md-trash"></ion-icon></button></ion-col> -->
          </ion-row>
        </ion-grid>
      <!-- </div> -->
      <ng-template #emptyPersonnel>
      <ion-label class="headerLabel" stacked>NO PERSONNEL SELECTED</ion-label>
      </ng-template>
<br>
<hr>
<br>
<br>
      <ion-item class="formField ionField" >
          <ion-label color="primary" stacked>SELECT EQUIPMENT</ion-label>
            <select-searchable
            class="specialSelect"
             item-content
             [(ngModel)]="globalEquipment"
             title="Equipment"
             itemValueField=ID
             itemTextField=Name2
             name="Equipment"
             [items]="equipmentArray"
             [canSearch]="true"
             [canClear]="true"
             [isMultiple]="true"
             (onChange)="equipmentChange($event)">
            </select-searchable>
        </ion-item>
<br>
        <ion-label class="headerLabel" *ngIf="!noEquipment; else emptyEquipment" stacked>CURRENT EQUIPMENT</ion-label>
          <!-- <div *ngIf="globalEquipment; else emptyEquipment"> -->
          <ion-grid *ngFor="let equipment of globalEquipment;let i = index">
            <ion-row>
              <ion-col>Name:</ion-col>
              <ion-col>{{equipment?.Name2}}</ion-col>
              <!-- <ion-col><button type="button" (tap)="removeEquipment(i)" ion-button class="trashButton"><ion-icon name="trash" ios="ios-trash" md="md-trash"></ion-icon></button></ion-col> -->
            </ion-row>
          </ion-grid>
        <!-- </div> -->
        <ng-template #emptyEquipment>
        <ion-label class="headerLabel" stacked>NO EQUIPMENT SELECTED</ion-label>
        </ng-template>
<br>
<hr>
<br>
<br>

</div>
      <ion-item>
        <button [disabled]="!f.valid" type="submit" id="submitButton" ion-button full large>Submit</button>
     </ion-item>
   </ion-list>
  </form>
</ion-content>
