page-menu {
  ion-title {
    color: reapHeader;
    text-align:center;
    font-size: 9px;
    font-family: sans-serif;
    }
  ion-item{
    text-align:center;
    width: 100% !important;
    max-width: 100%;
  }
  //Removes spaces between menu buttons
  .item-md{
    padding: 0;
  }
  .label-md{
    margin-top: 0;
    margin-bottom: 0;
  }
  .item-ios{
    padding: 0;
  }
  .label-ios{
    margin-top: 0;
    margin-bottom: 0;
  }
  .full-width {
  width: 100%;
 }
}
